<div class="row">
    <div class="col-md-12">
        <h2>Add Category</h2>
        <br>
        <form method="POST" action="/categories/add" enctype="application/x-www-form-urlencoded">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <input id="category" class="form-control" name="category" type="text">
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr>
            <input class="btn btn-primary pull-right" type="submit" value="Add Category">
            <br>
        </form>
    </div>
</div>